<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="docyCompiler" class="yokohama.unit.translator.DocyCompilerImpl">
    <constructor-arg><bean class="yokohama.unit.translator.DocyParserImpl"/></constructor-arg>
    <constructor-arg><bean class="yokohama.unit.translator.ParseTreeToAstVisitorFactory"/></constructor-arg>
    <constructor-arg><bean class="yokohama.unit.ast.VariableCheckVisitor"/></constructor-arg>
    <constructor-arg><bean class="yokohama.unit.translator.AstToJUnitAstFactory"/></constructor-arg>
    <constructor-arg><bean class="yokohama.unit.translator.OgnlExpressionStrategy"/></constructor-arg>
    <constructor-arg><bean class="yokohama.unit.translator.MockitoMockStrategy"/></constructor-arg>
    <constructor-arg><bean class="yokohama.unit.translator.JUnitAstCompilerImpl"/></constructor-arg>
  </bean>
</beans>